#editor {
    background-color: white;
    max-width: 903px;
    min-height: 88vh;
    margin: auto;
    border-radius: 33px 33px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: bounce-up .33s;
    margin-top: -3vh;
}

@keyframes bounce-up {
    0% {
        transform: scale(.5);
        top: 88vh;
    }
    
    100% {
        transform: scale(1);
        top: 0vh;
    }
}

#page-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #666;
    font-weight: normal;
    line-height: 90px;
    /* border-bottom: 2px solid #eee; */
    outline: none;
    position: relative;
    margin-bottom: 0;
}

#page-title::after {
    content: "";
    position: absolute;
    left: 33%;
    width: 33%;
    height: 2px;
    bottom: 0px;
    background: #eee;
}

#page-title-editable {
    font-size: 30px;
    border: none;
    display: inline;
    outline: none;
    width: 70px;
    color: #666;
}

#page-title-editable::placeholder {
    color: #CCC;
}


#content {
    color: #666;
    padding-bottom: 2em;
}

.pell-actionbar {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pell-content {
    min-height: 75vh;
    outline: none;
    padding: 0 6%;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }


.pell-button {
    background: white;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    margin-right: 10px;
    font-weight: normal;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.pell-button:hover {
    color: #000;
}

blockquote {
    position: relative;
    margin-left: 0;
    padding-left: 30px;
    background: #f6f6f6;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 3px;
}

blockquote::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 3px;
    top: 0px;
    bottom: 0px;
    background: #999;
    border-radius: 3px;
}